<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AlwaysUseDefaultResolution" value="true" />
    <add key="DefaultResolution" value="1595x869" />

    <add key="AlwaysRedirectClipboard" value="true" />
    <add key="AlwaysUseUseAero" value="true" />
  </appSettings>
</configuration>