<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AlwaysUseDefaultResolution" value="true" />
    <!--Hide Taskbar (More Fullscreen)-->
	<!--<add key="DefaultResolution" value="1595x869" />-->
	<!-- Show taskbar-->
    <add key="DefaultResolution" value="1595x847" />

    <add key="AlwaysRedirectClipboard" value="true" />
    <add key="AlwaysUseAero" value="true" />
    <add key="AlwaysUseFonts" value="true" />
    <add key="AlwaysUseWindowDrag" value="true" />
    <add key="AlwaysUseMenuAnims" value="true" />
    <add key="AlwaysUseRFX" value="true" />
  </appSettings>
</configuration>